<form action="" class="registerForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label for="email">Introduce your email</label>
        <br>
        <input type="email" id="email" formControlName="email"
            [placeholder]="'name@domain.com'">
        <div class="errorMessage" *ngIf="form.controls['email'].invalid">Icorrect email</div>
    </div>
    <div class="form-group">
        <label
            for="password">Password</label>
        <br>
        <input type="password" id="password" formControlName="password"
            [placeholder]="'Introduce password'">
        <div class="errorMessage" *ngIf="form.controls['password'].invalid">Incorrect password</div>
    </div>

    <div class="container">
        <app-button class="cta" [name]="'Login'"
            [class]="'cta rounded'"></app-button>


        <p class="forgetPassword">
           Forget password?</p>
    </div>
</form>