<div class="main">
    <div class="img">
        <div class="logo">
           
        </div>
        <img src="../../../../assets/imgs/StockCake-Healthy Lifestyle Strategy_1720613020.jpg" alt="">
    </div>
    <div class="register">
        <div class="header">
            <div *ngIf="registerView" class="alreadyAcc">
                <h4>Already have account?</h4>
                <button mat-stroked-button
                    (click)="router.navigate(['auth/login']); registerView=false">Login</button>

            </div>
            <div *ngIf="!registerView" class="alreadyAcc">
                <h4>Dont have account?</h4>
                <button mat-stroked-button
                    (click)="router.navigate(['auth/register']); registerView=true">Sign up</button>

            </div>
        </div>
        <div class="welcome">
            <div class="flexbox" style="display: flex; gap: 10px; align-items: center;">
                <img height="100px" src="../../../../assets/svgs/food-fruit-fruits-18-svgrepo-com.svg" alt="">
                <div>
                    <h1>Welcome to healthy diet
                    </h1>
                    <p style="margin-top: 5px;">
                       Your path to healthy eating starts here
                    </p>
                </div>

            </div>

            <router-outlet></router-outlet>



        </div>

    </div>
</div>